# Server Configuration

PORT=3000
NODE_ENV=development

# MongoDB Connection (replace with your actual connection string)
MONGODB_URI=mongodb+srv://username:password@your-cluster.mongodb.net/your-database?retryWrites=true&w=majority&appName=your-app-name

# Groq API Key (get from: https://console.groq.com/keys)
GROQ_API_KEY=your_groq_api_key_here

# Hugging Face API Key (get from: https://huggingface.co/settings/tokens)
HUGGINGFACE_API_KEY=your_huggingface_token_here

# AI Models Configuration
MODEL_TEXT_GEN=openai/gpt-oss-20b
MODEL_IMAGE_GEN=black-forest-labs/FLUX.1-dev

# Translation Models
MODEL_TRANSLATION_HI=Helsinki-NLP/opus-mt-hi-en
MODEL_TRANSLATION_MR=Helsinki-NLP/opus-mt-en-hi

# Speech-to-Text Model
MODEL_SPEECH_TO_TEXT=openai/whisper-large-v3
